@import "tailwindcss";

@font-face {
    font-family: 'FreightBigProLight-Regular';
    src: url('../assets/FreightBigProLight-Regular.woff2') format('woff2'); 
}
@font-face {
    font-family: 'FreightBigProLight-Italic';
    src: url('../assets/FreightBigProLight-Italic.woff2') format('woff2'); 
}

* {
    box-sizing: border-box;
    font-family: 'FreightBigProLight-Regular', serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.font-freight {
    font-family: 'FreightBigProLight-Regular', serif;
    font-weight: normal;
    font-style: normal, italic;
}
.font-freight-italic {
    font-family: 'FreightBigProLight-Italic', serif;
    font-weight: normal;
    font-style: normal;
}