@import "tailwindcss";

@font-face {
    font-family: 'FreightBigProLight-Regular';
    src: url('../assets/FreightBigProLight-Regular.woff2') format('woff2'); 
}
@font-face {
    font-family: 'FreightBigProLight-Italic';
    src: url('../assets/FreightBigProLight-Italic.woff2') format('woff2'); 
}

* {
    box-sizing: border-box;
<<<<<<< HEAD
    /* font-family: 'Poppins', sans-serif; */
=======
    font-family: 'FreightBigProLight-Regular', serif;
>>>>>>> e24189654ef97c924d972d8eb14909054b9814b8
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
<<<<<<< HEAD
=======
    /* overflow: hidden; */
    /* background-color: black; */
>>>>>>> e24189654ef97c924d972d8eb14909054b9814b8
}

.font-freight {
    font-family: 'FreightBigProLight-Regular', serif;
    font-weight: normal;
    font-style: normal, italic;
}
.font-freight-italic {
    font-family: 'FreightBigProLight-Italic', serif;
    font-weight: normal;
    font-style: normal;
<<<<<<< HEAD
}

.loader {
  inset: 0;
}
=======
}
>>>>>>> e24189654ef97c924d972d8eb14909054b9814b8
