@import "tailwindcss";

@font-face {
    font-family: 'FreightBigProLight-Regular';
    src: url('../assets/FreightBigProLight-Regular.woff2') format('woff2'); 
}
@font-face {
    font-family: 'FreightBigProLight-Italic';
    src: url('../assets/FreightBigProLight-Italic.woff2') format('woff2'); 
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.font-freight {
    font-family: 'FreightBigProLight-Regular', serif;
    font-weight: normal;
    font-style: normal, italic;
}
.font-freight-italic {
    font-family: 'FreightBigProLight-Italic', serif;
    font-weight: normal;
    font-style: normal;
}

.loader {
  inset: 0;
}

.card {
    width: 100%;
    height: 100%;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-1 {
  grid-column: 1 / span 1;
  grid-row: span 4;
}

.project-2 {
  grid-column: 2 / span 1;
  grid-row: span 4;
}

.project-3 {
  grid-column: 3 / span 2;
  grid-row: span 6;
}

.elem h2 {
  font-size: 6vw;
  color: white;
  font-family: '.font-freight';
}
.elem .moving-bar .moving-text {
  display: inline-block;
}
.elem .moving-bar .moving-text h5 {
  display: inline-block;
  color: black;
  margin: 5px;
}